/* You can add global styles to this file, and also import other style files */

body {
    --theme-transition: 0.2s;

    --bg-color: white;
    --card-bg-color: white;
    --nav-bg-color: rgb(250, 250, 250);
    --border-color: var(--black-40);
    --text-color: #212529;
    --text-color-to-white:#212529;
    --login-text-color: var(--gray-5);
    --pagination-active-color: white;
    --pagination-hover-color: var(--gray-1);
    --text-font: 'Vollkorn', sans-serif;
    --func-font: 'Sen',sans-serif;
    --gradient-1: rgb(255, 0, 149);
    --gradient-2: rgb(165, 62, 190);
    --bg-btn: linear-gradient(to right, var(--gradient-1),var(--gradient-2));
    --scroll-bar: var(--gray-4);
    --facebook-color: #3b5998;
    --light-blue: rgb(71, 166, 255);

    --filter-white: invert(100%) sepia(0%) saturate(7462%) hue-rotate(45deg) brightness(113%) contrast(102%);
    --filter-gray: invert(38%) sepia(29%) saturate(0%) hue-rotate(191deg) brightness(91%) contrast(82%);

    --white: white; 
    --gray-0: rgb(248,248,248);
    --gray-1: rgb(238, 238, 238);
    --gray-2:rgb(222, 222, 222);
    --gray-3:rgb(187, 187, 187);
    --gray-4:rgb(153, 153, 153);
    --gray-5:rgb(100, 100, 100);
    --black: black;
    --black-40: rgba(0, 0, 0, 0.4);
    --black-60: rgba(0, 0, 0, 0.6);

    --bg-gradient: linear-gradient(to right, var(--black-60), transparent);
  }

  body.dark {
    --bg-color: rgb(40,40,40);
    --card-bg-color: rgb(60, 60, 60);
    --nav-bg-color: rgb(40,40,40);
    --border-color: var(--black-60);
    --scroll-bar: rgb(60, 60, 60);
    --text-color: rgb(200, 200, 200);
    --text-color-to-white: white;
    --login-text-color: rgb(200, 200, 200);
    --pagination-active-color: rgb(50,50,50);
    --pagination-hover-color: rgb(55,55,55);
    --bg-gradient: linear-gradient(to right, var(--black-60), var(--black-40));
    --gray-0: rgb(60, 60, 60);
    --gray-5: rgb(20, 20, 20);
  }

  :root {
    --a-color: white;
  }

  :root.dark {
    --a-color: rgb(60, 60, 60);
  }