html {
    box-sizing: border-box;
    overflow: hidden;
  }
*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

@media only screen and (max-width: 650px ) {
  #navBarHeaderLegend, #navBarHeaderAvatartext {
    display: none;
  }

  #mainText {
    font-size: 2rem;
  }

  #mainContainer {
    height: 400px !important;
  }

  #cardContent1 .row {
    flex-direction: column !important;
    .column {
      width: 95% !important;
      margin: 0 2%;
    }

  }

  #footerBar .row {
    padding: 10px 25px !important;
  }

  #cardMainSection {
    width: 95vw !important;
    margin: 20px auto !important;
    .row {
      margin: 0;
    }
  }

  .create-card-body {
    padding: 15px !important;
  }

  #copyrightText {
    font-size: 0.7rem !important;
  }
} //end media screen

body {
    font-family: var(--text-font);
    background-color: var(--bg-color);
    transition: var(--theme-transition);
}

#Tesst {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  &::-webkit-scrollbar {
    width: 10px;
}
  &::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border: 1px solid rgb(40,40,40);
  border-radius: 3px;
}
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--bg-color);
}
}

div.modal-body {
  padding: 16px 16px 0 !important;
}

div.modal-footer {
  padding: 6px 12px !important;
}

.modal-dialog {
  transition: transform .1s ease-in !important;
  top: calc(100% - 400px)
}

#navBar {
    height: 75px;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 20px;
    position: sticky;
    top: 0;
    z-index: 4;
    margin-bottom: -100px;
    transition: var(--theme-transition);
}

#navBarHeaderLogo {
    align-self: center;
    height: 64px;
    width: auto;
}

#navBarHeaderLegend {
    align-self: center;
    font-size: 2rem;
    margin: 5px 0 0 0;
}

#navBarHeaderAvatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    align-self: center;
    margin-left: auto;
    border: 1px solid var(--gradient-2);
}

#navBarHeaderAvatartext {
    align-self: center;
    margin: 2px 10px 0;
}

#navBarHeaderAvatarlink {
    align-self: center;
    margin: 4px 0 0 0;
    color: var(--light-blue);
    font-weight: bolder;
}

#navBarHeaderSetting {
    align-self: center;
    margin: 3px 0 0 0;
}

.dropdown-toggle::after {
  content: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-link {
  padding: .5rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: var(--bg-color);
  color: var(--login-text-color) !important;
  border-color: var(--black-60);
  border-bottom: none;
  & img {
    filter: var(--filter-gray) !important;
  }
}

.nav-tabs {
  border: none;
}

:host ::ng-deep .dropdown-menu {
  background-color: var(--bg-color);
}

.nav .dropdown .dropdown-menu {
  border-color: var(--border-color);
  color: var(--text-color);
  min-width: 15rem;
  font-size: 0.8rem;
  border-radius: 5px;
  border-top-right-radius: 0;
  .form-group {
    padding: 5px 10px;
    margin: 0;

      label {
        margin: 0;
    }
  }

  .btn {
    font-size: 0.9rem;
    font-family: var(--func-font);
  }

  .btn-primary {
    float: right;
    margin: 5px 10px;
    background-image: var(--bg-btn);
    background-size: 150px 1px;
    border: none;
    transition: 0.2s;
    &:hover {
      background-position: -50px;
    }
  }
  .btn-link {
    float: left;
    margin: 5px 10px;
    padding-left: 5px;
  }

  &.dropdown-setting {
      min-width: 80px;
      .btn {
        width: 60px;
        margin: 0 10px;
      }
  }
}

#alertNightMode {
  z-index: 7;
  position: absolute;
  top: 65px;
  right: 10px;
  padding: 10px;
  transition: 0.3s;
}

#headerBgContainer {
    position: relative;
    &::after {
      height: 550px;
      content: " ";
      position: absolute;
      top: -100px;
      right: 0;
      bottom: 0;
      left: -3px;
      transform: translateZ(-1px) scale(2);
      background-size: cover;
      z-index: -1;
      background-image: var(--bg-gradient), url('src/assets/images/bg-2.jpg');
      background-position-x: center;
      background-position-y: center;
    }
}

#mainContainer {
    // background-image: linear-gradient(to right, rgba(25, 0, 109, 0.9), rgba(255, 255, 255, 0));
    background-color: transparent;
    color: var(--white);
    height: 500px;
    max-width: 500px;
    padding-top: 175px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#mainText {
  transition: var(--theme-transition);
}

#mainButton {
    font-family: var(--func-font);
    background-image: var(--bg-btn);
    background-size: 200px 1px;
    border: none;
    border-radius: 0.5rem;
    padding: 6px 30px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 10px;
    transition: 0.2s ease-in-out;
    &:hover {
      background-position: -50px;
    }
}

.facebook {
    background-image: none !important;
    background-color:  var(--facebook-color);
    border: none;
}

#mainSection {
  color: var(--text-color);
}

#cardMainSection {
    background-color: var(--card-bg-color);
    transition: var(--theme-transition);
    box-shadow: 0px 0px 10px 0px var(--gray-5);
    width: 85vw;
    margin: 50px auto;
    max-width: 1135px;
    overflow-x: auto;
}

.create-card-body {
  padding: 40px 50px 10px;
}

#cardContent1 {
    font-size: 1.2rem;
    
}

.smallbtn {
    font-size: 0.9rem !important;
    padding: 5px 10px !important;
    width: 100px;
    font-weight: normal !important;
}

.table {
  color: var(--text-color);
}


#footerBar {
    height: 275px;
    background-color: var(--gray-0);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    transition: var(--theme-transition);
    color: var(--text-color);
}

.footerDivider {
    align-self: center;
    width: 40vw;
    border: .7px solid var(--gray-2);
}

  //pagination
  :host ::ng-deep .page-item {
      font-family: var(--func-font);
      .page-link {
        border-color: var(--gray-2); 
        color: var(--gray-4);
        background: var(--card-bg-color); //change
        padding: 10px 15px;
        &:hover{
          color: var(--gradient-1);
          background-color: var(--pagination-hover-color);
          }
        }
      &:first-child .page-link{
        border-radius: 50px 0 0 50px;
        width:50px;
        position: relative;
        &:after{
           content: '';
           position: absolute;
           width: 10px;
           height: 100%;
          top: 0;
          right: 0;
          }
        }
      &:last-child .page-link{
        border-radius: 0 50px 50px 0;
        width:50px;
        position: relative;
         &:after{
            content: '';
            position: absolute;
            width: 10px;
            height: 100%;
           top: 0;
           left: 0;
          }
        }
        &:active .page-link, &:active:focus .page-link, &:focus .page-link{
          box-shadow: none;
        }
        &.active .page-link{
          border-color: var(--gray-3);
          background: var(--pagination-active-color); //change
          color: var(--gradient-1);
          box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
        }
  }

  :host ::ng-deep .swal12-shown {
    background-color: var(--bg-color);
  }