<head>
  <script>
    $('.dropdown-menu').on("click.bs.dropdown", function (e) { e.stopPropagation(); e.preventDefault(); });
  </script>
</head>

<body [ngClass]="{'dark': returnTheme() == 'dark'}">
  <div id="Tesst" (scroll)="getscrollTop()">
    <header id="navBar" [style.background-color]="(getscrollTop() ? 'var(--nav-bg-color)' : 'transparent')"
      [style.box-shadow]="getscrollTop() ? '0 2px 8px 0 rgba(0, 0, 0, 0.5)' : 'none'">

      <a *ngIf="!isActiveLink('/')" type="button" style="align-self: center; margin-right: 5px;" [routerLink]="[ '/']">
        <img src="assets/logos/left-arrow.svg" alt="Back" width="40px" height="40px"
          [style.filter]="getscrollTop() ? 'var(--filter-gray)' : 'var(--filter-white)'">
      </a>

      <img id="navBarHeaderLogo" src="assets/logos/logo-trans.png" alt="Header Logo">
      <p id="navBarHeaderLegend" [style.color]="getscrollTop() ? 'var(--text-color)' : 'white'">Hierarchy Builder</p>
      <img id="navBarHeaderAvatar" src="assets/logos/Capture.png">
      <p id="navBarHeaderAvatartext" [style.color]="getscrollTop() ? 'var(--text-color)' : 'white'">Welcome {{name}}</p>
      <ul class="nav nav-tabs" style="height: 48px; align-self: center;">
        <li class="nav-item dropdown">
          <ng-container *ngIf="name == 'Guest'; else elseTemplate">
            <a id="navBarHeaderAvatarlink" class="nav-link dropdown-toggle " data-toggle="dropdown" href="#"
              role="button">Login</a>
          </ng-container>
          <ng-template #elseTemplate>
            <a id="navBarHeaderAvatarlink" class="nav-link" href="#" (click)="signOut()" role="button">Sign Out</a>
          </ng-template>

          <div class="dropdown-menu dropdown-menu-right">
            <form>
              <div class="form-group">
                <label>Email/Username</label>
                <input name="username" type="email" class="form-control form-control-sm" [(ngModel)]="username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control form-control-sm" [(ngModel)]="password">
              </div>
              <button type="button" class="btn btn-link">Sign Up</button>
              <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!username">
                <ng-container *ngIf="doneLoading == true; else loading">
                  Login
                </ng-container>
                <ng-template #loading>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </ng-template>
              </button>
            </form>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a id="navBarHeaderSetting" class="nav-link dropdown-toggle " data-toggle="dropdown" data-tooltip="tooltip"
            title="You can change to Night Mode here" href="#" role="button">
            <img id="navBarHeaderSettingImg" src="assets/logos/setting.svg" alt="Setting" width="18px" height="18px"
              [style.filter]="getscrollTop() ? 'var(--filter-gray)' : 'var(--filter-white)'"
              (click)="alertAction()">
          </a>
          <div id="dropdown-menu" class="dropdown-menu dropdown-menu-right dropdown-setting">
            <form>
              <button id="themeBtn" class="btn" type="button"
                [ngClass]="returnTheme() == 'light' ? 'btn-dark' : 'btn-light'"
                [innerHTML]="returnTheme() == 'light' ? 'Dark' : 'Light'" (click)="changeTheme()" data-tooltip="tooltip"
                title="You can change to Night Mode here">
              </button>
            </form>
          </div>
        </li>
      </ul>
      <div id="alertNightMode" [ngClass]="{'show': showAlert == true}"
        [style.display]="alertDisplay == true ? 'block' : 'none'" class="alert alert-info alert-dismissible fade"
        role="alert" (click)="alertAction()">
        <p style="font-size: 0.9rem; margin: 0;">Switch to Night mode at Setting</p>
      </div>
    </header>

    <ng-container *ngIf="isActiveLink('/'); else pageCreate">
      <div id="headerBgContainer">
        <div id="mainContainer" class="jumbotron">
          <h1 id="mainText" class="display-4"> Family Hierarchy builder never been so easy.</h1>
          <br>
          <a id="mainButton" class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="[ '/create', '0' ]">TRY
            NOW</a>
          <a id="mainButton" class="btn btn-primary btn-lg facebook" href="https://www.facebook.com/votran.hoan"
            target="_blank" role="button">Facebook</a>
        </div>
      </div>
      <section id="mainSection">
        <div id="cardMainSection" class="card">
          <div id="cardContent1" class="card-body">
            <div class="row" style="display: flex; flex-direction: row;">
              <div class="column" style="width: 40%; margin: 2rem 5%;">
                <img src="assets/images/thumbnail-4.png" alt=""
                  style="max-width: 100%; margin-top: auto; margin-bottom: auto;">
              </div>
              <div class="column" style="width: 45%; margin-right: 5%; margin-top: auto; margin-bottom: auto;">
                <h5 id="TESTTEST" class="card-title"
                  style="font-weight: bold; font-size: 1.8rem; margin:0; background: -webkit-linear-gradient(left,var(--gradient-1),var(--gradient-2)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                  The Hierarchy
                </h5>
                <br>
                <p>
                  The Family Hierarchy comprises of ancestors family tree structures, family history and family
                  origin.
                  <br>
                  <br>
                  Psychologists use the term “family hierarchy” to describe the desired and necessary structure for a
                  family.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="cardMainSection" class="card">
          <div id="cardContent1" class="card-body">
            <div class="row" style="display: flex; flex-direction: row;">
              <div class="column" style="width: 40%; margin: 2rem 5%;">
                <img src="assets/images/thumbnail-5.png" alt=""
                  style="max-width: 100%; margin-top: auto; margin-bottom: auto;">
              </div>
              <div class="column" style="width: 45%; margin-right: 5%; margin-top: auto; margin-bottom: auto;">
                <h5 id="TESTTEST" class="card-title"
                  style="font-weight: bold; font-size: 1.8rem; margin:0; background: -webkit-linear-gradient(left,var(--gradient-1),var(--gradient-2)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                  Hierarchy provides effective organisation
                </h5>
                <br>
                <p>
                  Hierarchy positions a few skilled leaders at the top of the organisation, directing its strategy and
                  operations.
                  <br>
                  <br>
                  At various levels of authority beneath them are other managers and workers, who carry out the
                  leadership’s instructions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--End Card form -->
        <div id="cardMainSection" class="card">
          <div class="card-body create-card-body">
            <h5 class="card-title">Table of Hierarchy</h5>
            <h6 class="card-subtitle mb-2 text-muted">List all of the hierarchy families.</h6>
            <br>
            <table class="table table-bordered" style="width: 100%;">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Family Name</th>
                  <th>Ancestor Name</th>
                  <th>No. of members</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tr
                *ngFor="let item of database | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize, index as i">
                <td>{{item.id}}</td>
                <td>{{item.hierarchyName}}</td>
                <td>{{item.hierarchyData[0].name}}</td>
                <td>{{item.members}}</td>
                <td>
                  <a id="mainButton" class="btn btn-primary btn-lg smallbtn" href="#" role="button"
                    [routerLink]="[ '/create', item.id ]">View/Edit</a>
                  <a id="mainButton" class="btn btn-primary btn-lg smallbtn" href="#" role="button"
                    (click)="deleteHierarchyAsk(database, item.id)">Delete</a>
                </td>
              </tr>
            </table>
          </div>
          <ngb-pagination id="paginationTable" style="align-self: center;" [(page)]="page" [pageSize]="pageSize"
            [collectionSize]="database?.length"></ngb-pagination>
        </div>
        <!--End Card form -->
      </section>
    </ng-container>
    <ng-template #pageCreate>
      <router-outlet></router-outlet>
    </ng-template>

    <footer id="footerBar">
      <div style="align-self: center; display: flex; flex-direction: row;">
        <hr class="footerDivider">
        <img id="navBarHeaderLogo" src="assets/logos/logo-trans.png">
        <hr class="footerDivider">
      </div>
      <div class="row" style="align-self: center; display: flex; flex-direction: row; width: 100%; padding: 10px 30%;">
        <div class="column" style="width: 33%; align-self: center; text-align: center;">
          <p>About Us</p>
          <p>Contact</p>
          <p>Careers</p>
        </div>
        <div class="column" style="width: 33%; align-self: center; text-align: center;">
          <p>Payment</p>
          <p>Delivery</p>
          <p>Terms</p>
        </div>
        <div class="column" style="width: 33%; align-self: center; text-align: center;">
          <p>FAQ</p>
          <p>Returns</p>
          <p>Privacy</p>
        </div>
      </div>
      <p id="copyrightText" style="align-self: center;"><small>© 2020 All rights reserved. Site built by Tran
          Hoan</small>
      </p>
    </footer>
  </div>
</body>