*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

#mainSection {
    padding-top: 75px;
    color: var(--text-color);
    min-height: calc(100vh - 250px);
  }
  
  #cardMainSection {
      background-color: var(--card-bg-color);
      transition: var(--theme-transition);
      box-shadow: 0px 0px 10px 0px var(--gray-5);
      width: 85vw;
      margin: 50px auto;
      max-width: 1135px;
      overflow-x: auto;
  }

  #saveHierarchyBtn {
    border-radius: 3rem;
    padding: 1rem;
    font-family: var(--func-font);
    font-size: 1.1rem;
    padding: .2rem 1.5rem;
    color: var(--text-color-to-white);
    border: solid 2px transparent;
    background-image: linear-gradient(transparent, transparent), var(--bg-btn);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--card-bg-color) inset;
  
    &:hover {
      box-shadow: none;
      color: var(--white);
    }
  }

  .card {
    background-color: var(--bg-color);
  }
  
  .member-box {
    min-width: 12rem;
    max-width: 12rem;
    height: 50px;
    margin: 10px 30px 10px 10px;
    display: flex;
    flex-direction: row;
  }
  
  .create-card-body {
    padding: 40px 50px 10px;
  }

  .member-box:hover>.member-delete-btn {
    display: flex;
  }
  
  .member-add-dropdown {
    padding: 0;
    margin-left: -15px;
    position: relative;
    right: -10px;
    display: flex;
  }
  
  .member-delete-btn {
    padding: 0;
    margin-right: -15px;
    position: relative;
    left: -10px;
    display: none;
    z-index: 1;
  }
  
  .member-add-btn {
    padding: 0;
  }
  
  .member-text-display {
    margin-left: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .input-member {
    margin: 5px;
    padding: 4px 12px 2px;
    font-size: 14px;
  }
  
  .input-member-btn {
    padding: 2px 8px 0;
    float: right;
    font-size: 14px;
    background-image: var(--bg-btn);
    border: none;
  }

  .box-text-padding {
    padding: 0 6px;
    margin: 0;
    font-size: 14px;
  }
  
    .tree ul {
        margin-left: 20px;
    }
    
    .tree li {
        list-style-type: none;
        margin:10px;
        position: relative;
        min-height: 50px;
    }
    
    .tree li::before {
        content: "";
        position: absolute;
        top:-10px;
        left:-20px;
        border-left: 1px solid var(--gray-2);
        border-bottom:1px solid var(--gray-2);
        border-radius:0 0 0 0px;
        width:30px;
        height:35px;
    }
    
    .tree li::after {
        position:absolute;
        content:"";
        top:24px;
        left:-20px;
        border-left: 1px solid var(--gray-2);
        border-top:1px solid var(--gray-2);
        border-radius:0px 0 0 0;
        width:30px;
        height:100%;
    }
  
    .tree>li:first-child::after  {
      display:none;
    }
    .tree>li:first-child::before  {
      display:none;
    }
  
    .tree>li:last-child::after {
      content: "";
    }
    
    .tree li:last-child::after  {
        display:none;
    }
    
    .tree li:last-child:before{
        border-radius: 0 0 0 5px;
    }
    
    ul.tree>li:first-child::before {
        display:none;
    }
    
    ul.tree>li:first-child::after {
        border-radius:5px 0 0 0;
    }
    
    .tree li .member-box:hover, .tree li .member-box:hover+ul li .member-box,
    .tree li .member-box:focus, .tree li .member-box:focus+ul li .member-box {
        border: 1px solid var(--gradient-1);
    }