<section id="mainSection">
<div id="cardMainSection" class="card">
    <div class="card-body create-card-body">
      <div class="row" style="display: flex; flex-direction: row;">
        <div class="column" style="width: 50%;">
          <h5 class="card-title">Create</h5>
          <h6 class="card-subtitle mb-2 text-muted">Let's create your family hierachical structure.</h6>
        </div>
        <div class="column" style="width: 50%;display: flex;">
          <button id="saveHierarchyBtn" class="btn btn-light" (click)="saveHierarchy()"
            style="margin-left: auto; align-self: center;">Save</button>
        </div>
      </div>
      <br>

      <div class="tree">
        <!--Add Box-->
        <div class="card member-box" style="width: 5rem;">
          <div class="card-body" style="padding: 0; display: flex;">
            <div class="dropdown" style="margin: auto;">
              <button class="btn btn-link" data-toggle="dropdown">
                <img src="assets/logos/plus.svg" alt="Plus" width="32px" height="32px">
              </button>
              <div class="dropdown-menu">
                <form style="padding: 0 20px 5px 10px;">
                  <input class="form-control input-member" name="Form1" placeholder="Full name"
                    [(ngModel)]="inputName" (keyup)="onTyping()">
                  <input class="form-control input-member" name="Form2" placeholder="Date of birth"
                    [(ngModel)]="inputDoB">
                  <div class="dropdown-divider" style="margin-right: -10px;"></div>
                  <button name="FormSubmitButton" type="submit" class="btn btn-primary input-member-btn"
                    (click)="createNew(null)">OK</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--End Add Box-->
        <ul>
          <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: databaseNew }"></ng-container>
        </ul>

        <ng-template #recursiveListTmpl let-databaseNew>
          <li *ngFor="let item of databaseNew">

            <div class="card member-box">
              <button class="btn btn-link member-delete-btn" (click)="deleteMemberAsk(databaseNew,item.name)">
                <img src="assets/logos/remove.svg" alt="Delete" width="16px" height="16px">
              </button>
              <div class="card-body member-text-display">
                <p class="box-text-padding">{{item.name}}</p>
                <p class="box-text-padding">{{item.dob}}</p>
              </div>
              <div class="dropdown member-add-dropdown">
                <button class="btn btn-link member-add-btn" data-toggle="dropdown">
                  <img src="assets/logos/plus.svg" alt="Add" width="16px" height="16px">
                </button>
                <div class="dropdown-menu">
                  <form style="padding: 0 20px 5px 10px;">
                    <input class="form-control input-member" name="Form1" placeholder="Full name"
                      [(ngModel)]="inputName" (keyup)="onTyping()">
                    <input class="form-control input-member" name="Form2" placeholder="Date of birth"
                      [(ngModel)]="inputDoB">
                    <div class="dropdown-divider"></div>
                    <button name="FormSubmitButton" type="submit"
                      class="btn btn-primary input-member-btn FormSubmitButton"
                      (click)="createNew(item.name)">OK</button>
                  </form>
                </div>
              </div>
            </div>
            <ul *ngIf="item.children.length > 0">
              <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }">
              </ng-container>
            </ul>
          </li>
        </ng-template>
      </div>
    </div>
    <!--End card-body-->
  </div>
</section>